{% extends "navBar.html" %}

{% block content %}
<script src="/adversaries.js"></script>

<div id="create-update">
    <h3 id="update-title">Update Adversary</h3>
    <h3 id="create-title">Create Adversary</h3>
    <table id="createUpdateForm">
        <tr>
            <td>Name</td>
            <td><input class="descriptionText" type="text" name="name" id="name"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea class="descriptionText" rows=5 type="text" name="description"></textarea></td>
        </tr>
        <tr>
            <td>Inherent Risk</td>
            <td><input class="descriptionText" type="number" name="inherentRisk"></td>
        </tr>
        <tr>    
            <td>Defence</td>
            <td><input class="descriptionText" type="number" name="defense"></td>
        </tr>
        <tr>    
            <td>Residual Risk</td>
            <td><input class="descriptionText" type="number" name="residualRisk"></td>
        </tr>
        <tr>
            <td></td><td>
                <button id="create-button" class="btn btn-success" onclick="doCreate()">Create</button>     
                <button id="update-button" class="btn btn-success" onclick="doUpdate()">Update</button>
            </td>
        </tr>
    </table>
</div>
<div id="display">
    <table id="adversaryTable" class="table">
        <tr class="tableHeader">
            <th style="width:8%">Name</th><th>Description</th><th>Inherent Risk</th><th>Defence</th><th>Residual Risk</th><th></th><th></th><th></th>
        </tr>
        
    </table>

</div>

{% endblock content %}