{% extends "navBar.html" %}

{% block content %}
<script src="/tactics.js"></script>

<div id="create-update">
    <h3 id="update-title">Update Tactic</h3>
    <h3 id="create-title">Create Tactic</h3>
    <table id="createUpdateForm">
        <tr>
            <td>Attack ID</td>
            <td><input class="descriptionText" type="text" name="attackID" id="idInput"></td>
        </tr>
        <tr>
            <td>Tactic Name</td>
            <td><input class="descriptionText" type="text" name="tacticName"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea class="descriptionText" rows=5 name="description"></textarea></td>
        </tr>
        <tr>    
            <td>Defence</td>
            <td><input class="descriptionText" type="number" name="assessment"></td>
        </tr>
        <tr>
            <td></td><td>
                <button id="create-button" class="btn btn-success" onclick="doCreate()">Create</button>     
                <button id="update-button" class="btn btn-success" onclick="doUpdate()">Update</button>
            </td>
        </tr>
    </table>
</div>
<div id="display">
    <table id="tacticsTable" class="table">
        <tr class="tableHeader">
            <th style="width:8%">Attack ID</th><th>Tactic Name</th><th>Description</th><th>Defence</th><th></th><th></th>
        </tr>
        
    </table>

</div>


{% endblock content %}